/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2019, 10:39:24 PM
    Author     : eric
*/

.root{
    -fx-background-color: darkslategrey;
}

.button{
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: white;
}