/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2019, 10:39:24 PM
    Author     : eric
*/

.root{
    -fx-background-color: rgb(66,66,66);
}

.button{
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: white;
}

.titled-pane{
    -fx-collapsible: false;    
}

#back{
    -fx-background-color: rgb(50,50,50);
    -fx-text-fill: black;
}

.table-column{
    -fx-background-color: rgb(50,50,50);
}